<div id="background-header"></div>
<div id="background-body"></div>

<div id="chat-container">

  <div id="sidebar">
    <div id="sidebarheader">

    </div>
    <div id="searchbox">
      <img width="14" src="../assets/images/searchicon.png" alt="">
      <input type="text" placeholder="Search or start the new chat">
    </div>

    <div id="sidebarcontent">
      <div id="noConversation">
        All chats are archived
      </div>
    </div>
  </div>
  <div id="chat"></div>

</div>

<router-outlet></router-outlet>
